<div class="row">
  <div class="col-sm-12">

    {{#markdown}}

# I write a bit about everything. I hope you find it interesting.

_If you're just in the mood for family photos and gratuitous food porn,
you might prefer my [tumblr](http://adamrneary.tumblr.com)._

    {{/markdown}}

    {{> mailing-list-cta}}
  </div>
</div>
<div class="row">
  <div class="col-sm-9">

    <ul class="nav nav-tabs">
      <li class="active"><a href="#data" data-toggle="tab">Data</a></li>
      <li><a href="#engineering" data-toggle="tab">Engineering</a></li>
      <li><a href="#management" data-toggle="tab">Management</a></li>
      <li><a href="#health" data-toggle="tab">Health</a></li>
      <li><a href="#rants" data-toggle="tab">Rants</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content articles">
      <div class="tab-pane active" id="data">
        {{md "src/content/listings/data.md"}}
      </div>
      <div class="tab-pane" id="management">
        {{md "src/content/listings/management.md"}}
      </div>
      <div class="tab-pane" id="engineering">
        {{md "src/content/listings/engineering.md"}}
      </div>
      <div class="tab-pane" id="health">
        {{md "src/content/listings/health.md"}}
      </div>
      <div class="tab-pane" id="rants">
        {{md "src/content/listings/rants.md"}}
      </div>
    </div> <!-- tab content -->
  </div> <!--  col -->
</div> <!--  row -->
