---
layout: "contained.hbs"
---

<article class="hentry">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="entry-title">{{title}}</h1>

      {{#if summary}}
        <div class="entry-summary">{{summary}}</div>
      {{/if}}

      <ol class="breadcrumb metadata">

        {{#if pub-date}}
        <li>
          <time class="published" datetime="{{pub-date}}">
            {{formatDate pub-date "%B %e, %Y"}}
          </time>
        </li>
        {{/if}}

        {{#each taglist}}
          <li>{{.}}</li>
        {{/each}}

      </ol>
      <div class="byline author vcard">
        <span class="fn">Adam Neary</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-9">
      <div class="entry-content">

        {{#markdown}}
          {{> body }}
        {{/markdown}}

      </div> <!--  hentry -->
    </div> <!--  col -->
  </div> <!--  row -->
</article>
{{> mailing-list-cta}}
